MONGO_URI=mongodb+srv://sdfgpj'iipjsfdjipsdfjipsdfjip[fsdujipsdfjip[sdfa/here?retryWrites=true&w=majority&appName=Cluster0
PORT=4444 
ACCESS_TOKEN_SECRET=your_super_secret_access_key_key_key_here
REFRESH_TOKEN_SECRET=your_refresh_secret_access_keyey_key_key_here
REFRESH_TOKEN_PATH=api/pathforit